.farms {
  padding: 7px 14px;

  .read-more {
    font-style: italic;
  }

  .overview {
    padding: 0 30px;
  }

  .stats-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .farm-stats {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 14px;
    min-width: 150px;
    min-height: 40px;
    padding: 7px;
    background-color: #161614;

    border: 2px solid #eb5e28;
    border-radius: 10px;
  }

  .tvl-title {
    font-size: 18px;
    font-weight: bold;
    margin: 0 14px;
  }

  .tvl-value {
    font-size: 20px;
    font-weight: bold;
  }

  .vol-title {
    font-size: 14px;
    margin: 0 14px;
  }

  .vol-value {
    font-size: 15px;
    font-weight: bold;
  }

  .fee-value {
    color: #7dee73;
  }
}
