.content-container {
  flex: 18;
  min-height: 100vh;
  padding: 14px;
  margin: 14px;
  line-height: 22px;

  h1,
  h2,
  h3,
  h4 {
    margin: 10px 0px;
  }

  h1 {
    font-size: 25px;
  }

  .content {
    font-size: 15px;
    padding: 7px;
    width: 85%;
    margin: 0 auto;
    min-height: 100vh;
  }

  .footer {
    text-align: center;
    font-size: 8px;
    line-height: 13px;
  }
}
